# AEGIS Backend Configuration
PROJECT_NAME="AEGIS Mobile Threat Intelligence & Privacy API"
API_V1_STR="/api/v1"
DEBUG=True

# PostgreSQL Configuration
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=aegis_db
DATABASE_URL=postgresql+psycopg2://postgres@localhost:5432/aegis_db
